/*
	caffeine.css:
	author:
	license:
	date:
	version:
*/

@font-face {
	font-family: "DroidSans";
	src: url('../fonts/DroidSans.ttf');
}

@font-face {
	font-family: "DroidSans-Bold";
	src: url('../fonts/DroidSans-Bold.ttf');
}

@font-face {
	font-family: "Harabara";
	src: url('../fonts/Harabara.ttf');
}

body {
	padding: 0;
	margin: 0;
    background-image: url(./../images/pattern.png);
    background-repeat: repeat-x;
	color: #000;
	font-family: "DroidSans", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
	font-weight: bold;
}

strong, b {
	font-family: "DroidSans-Bold", Helvetica, Verdana, Arial, sans-serif;
}

li {
	padding: 0 0 10px 0;
	list-style-type: square;
}

p {
	line-height: 20px;
}

#wrapper {
	padding: 0;
	margin: 0 auto;
	width: 800px;
}

#header {
	padding: 10px;
	margin: 0;
	background-color: #000;
	color: #FFF;
	text-align: center;
}

	#header h1 {
		font-family: "Harabara";
		font-size: 48px;
	}

#sidebar {
	padding: 0;
	margin: 0;
	width: 200px;
	float: left;
}

	#sidebar .section {
		padding: 10px;
		background-color: #000;
		color: #FFF;
		border-top: 1px solid #FFF;
	}
	
		#sidebar .section .center {
			text-align: center;
		}

	#sidebar ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
		#sidebar ul li {
			padding: 0 0 10px 0;
			margin: 0;
			list-style-type: none;
		}
		
			#sidebar ul li a, #sidebar ul li a:link {
				color: #FFF;
				font-family: "DroidSans-Bold", Helvetica, Verdana, Arial, sans-serif;
			}
			
			#sidebar ul li a:hover {
				text-decoration: underline;
			}
			
#content {
	padding: 10px;
	margin: 0 0 0 220px;
}

	#content .imadecoffee {
		padding: 10px;
		margin: 0;
		border: 1px solid #663300;
		border-radius: 4px;
		background-color: #663300;
		color: #FFF;
		font-size: 24px;
	}
