/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license:
    Date: May 19th, 2013 
    Version: 1.1
*/
/* colors */
/* FONTS */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DroidSans.ttf"); }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: "Harabara";
  font-style: normal;
  src: url("/fonts/Harabara.ttf"); }

/* GENERAL */
body {
  padding: 0;
  margin: 0;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal; }

a {
  color: #584a4a !important; }

input[type=submit],
button,
a.btn {
  background: #7f7665;
  padding: 10px;
  font-size: 1.35em;
  color: #FFF !important;
  text-shadow: 1px 1px 0 #524c42;
  min-width: 100px;
  min-height: 22px;
  line-height: 22px;
  border: 1px solid #615a4f;
  box-shadow: 0 1px 0 #9e9482 inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important; }
  input[type=submit]:hover,
  button:hover,
  a.btn:hover {
    background: #5a5348; }
  input[type=submit].secondary,
  button.secondary,
  a.btn.secondary {
    color: #b6aa97 !important;
    text-shadow: 1px 1px 0 #fff;
    background: #f7f3e5;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #b6aa97; }
    input[type=submit].secondary:hover,
    button.secondary:hover,
    a.btn.secondary:hover {
      background: #5a5348 !important;
      box-shadow: 0 1px 0 #9e9482 inset;
      text-shadow: 1px 1px 0 #524c42 !important;
      color: #fff !important; }

input[type=text],
input[type=password] {
  padding: 10px;
  font-size: 1.35em;
  border: 1px solid #d8ccb3;
  background-color: #f7f3e5;
  box-shadow: 0 1px 0 #fff inset;
  color: #4f4b42;
  min-height: 22px;
  line-height: 22px; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.white-box {
  padding: 20px;
  margin: 0 2% 2% 0;
  background-color: #FFF;
  float: right;
  width: 44%;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  min-height: 110px; }
  .white-box:nth-child(2n) {
    float: left; }
  .white-box.fullWidth {
    width: 94%; }
  .white-box p {
    line-height: 24px; }
  .white-box canvas {
    width: 100% !important;
    height: auto !important; }
  .white-box h2 {
    font-size: 31px !important;
    color: #c2b9b9; }

.white-box-center {
  text-align: center; }

.white-box form {
  margin: 24px 0; }
  .white-box form#coffeeform input[type=text],
  .white-box form#coffeeform input[type=password], .white-box form#mateform input[type=text], .white-box form#mateform input[type=password], .white-box form#login input[type=text], .white-box form#login input[type=password] {
    min-width: 184px;
    width: 44%; }
  .white-box form#coffeeform input[type=submit],
  .white-box form#coffeeform a.btn, .white-box form#mateform input[type=submit], .white-box form#mateform a.btn, .white-box form#login input[type=submit], .white-box form#login a.btn {
    width: 49.56%; }
  .white-box form#coffeeform p, .white-box form#mateform p, .white-box form#login p {
    clear: both; }
  .white-box form.coffeeform #email {
    width: 92.3%; }
  .white-box form#login div.left {
    width: 48%; }
    .white-box form#login div.left:first-child {
      margin-right: 2%; }
  .white-box form#login input[type=text],
  .white-box form#login input[type=password] {
    width: 88% !important; }
  .white-box form#login input[type=submit] {
    width: 100% !important; }
  .white-box form#login a.btn {
    width: 89.5%;
    font-weight: normal !important;
    margin: 2px 0; }

.usercard, .rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display: inline-block; }
  .usercard div.left, .rankbox div.left {
    display: inline-block; }
    .usercard div.left input, .rankbox div.left input {
      display: inline-block;
      width: 94%; }

.rightfloated {
  float: right; }

.clearfix {
  clear: both;
  height: 0; }

ul.userlist {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

strong {
  font-weight: bold; }

.default_input_field {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #E7E7E7;
  color: #201200;
  min-height: 22px; }

.inlineform select {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #E7E7E7;
  color: #201200;
  min-height: 22px;
  line-height: 22px; }

.hiddeninput {
  display: none; }

.otrblockform input[type="submit"] {
  padding: 30px;
  font-size: 30px;
  background-color: #201200;
  border: none;
  color: #FFF;
  min-width: 300px;
  min-height: 60px;
  line-height: 60px; }

/* WRAPPER */
#wrapper {
  padding: 0;
  margin: 0 auto;
  width: 80%; }

/* HEADER */
#header {
  padding: 10px 10px 10px 100px;
  margin: 0;
  color: #584a4a;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: left center; }
  #header h1 {
    font-family: "Harabara";
    font-size: 48px;
    margin-bottom: 1px;
    max-width: 32%; }
  #header p {
    margin-top: 0;
    max-width: 32%; }

/* FOOTER */
.footer {
  clear: both; }
  .footer .footertext {
    font-size: small; }

/* NAVIGATION */
#navigation {
  margin: 0 auto 18px;
  width: 50%; }
  #navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #navigation ul li {
      margin: 0 0 0 -3px;
      display: inline-block;
      border-right: 1px solid #a3a3a3;
      box-shadow: 1px 0 0 #fff; }
      #navigation ul li:last-child {
        border-right: 0;
        box-shadow: 0 0 0 #fff; }
      #navigation ul li a {
        display: inline-block;
        font-weight: normal;
        color: #000;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 32px;
        background-position: 8px 9px; }
        #navigation ul li a:hover {
          text-decoration: none;
          background-color: #ece7dd; }
        #navigation ul li a.navindex {
          background-image: url("/images/home.png"); }
        #navigation ul li a.navplusone {
          background-image: url("/images/tag.png"); }
        #navigation ul li a.navprofile {
          background-image: url("/images/profile.png"); }
        #navigation ul li a.navexplore {
          background-image: url("/images/list.png"); }
        #navigation ul li a.navoverall {
          background-image: url("/images/flask.png"); }
        #navigation ul li a.navabout {
          background-image: url("/images/user-4.png"); }
        #navigation ul li a.navlogout {
          background-image: url("/images/out.png"); }

p.flash-success, p.flash-info {
  padding: 10px 10px 10px 20px;
  margin: 0;
  background-image: url("/images/info.png");
  background-repeat: no-repeat;
  background-position: left center; }
p.flash-error, p.flash-warning {
  padding: 10px 10px 10px 20px;
  margin: 0;
  background-image: url("/images/alert.png");
  background-repeat: no-repeat;
  background-position: left center; }

/* CONTENT */
#content {
  padding: 0;
  margin: 0; }
  #content h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold; }
  #content h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold; }

/* REGISTER */
.white-box.fullWidth div.left {
  width: 33%; }
  .white-box.fullWidth div.left b {
    display: inline-block;
    margin-bottom: 10px; }
  .white-box.fullWidth div.left input {
    width: 80%; }
.white-box.fullWidth #recaptcha_widget_div {
  float: left;
  margin-top: 23px; }

.register_button_standard {
  clear: both;
  float: left;
  margin-top: 10px;
  min-width: 28.4% !important; }

/* Responsive */
@media screen and (max-width: 1250px) {
  #wrapper #navigation {
    width: 58%; }
  #wrapper .white-box {
    margin: 0 1% 2% 0; }
    #wrapper .white-box form#coffeeform input[type=text], #wrapper .white-box form#mateform input[type=text] {
      width: 52% !important; }
    #wrapper .white-box form#coffeeform input[type=submit] input[type=password],
    #wrapper .white-box form#coffeeform input[type=submit] input[type=text], #wrapper .white-box form#mateform input[type=submit] input[type=password], #wrapper .white-box form#mateform input[type=submit] input[type=text], #wrapper .white-box form#login input[type=password], #wrapper .white-box form#login input[type=text] {
      min-width: 0 !important;
      width: 89.5% !important; }
    #wrapper .white-box form#coffeeform input[type=submit] input[type=submit], #wrapper .white-box form#mateform input[type=submit] input[type=submit], #wrapper .white-box form#login input[type=submit] {
      width: 49.56%; } }
@media screen and (max-width: 1000px) {
  /* iPhone, Android rules here */
  #wrapper {
    padding: 0px;
    width: 94%;
    margin: 0 auto; }
    #wrapper #header p {
      max-width: 85%; }
    #wrapper #navigation {
      width: 100%; }
      #wrapper #navigation ul li a {
        padding: 10px 10px 10px 30px; }
    #wrapper .white-box {
      width: 92%;
      float: none !important; }
      #wrapper .white-box form#coffeeform input[type=text], #wrapper .white-box form#mateform input[type=text], #wrapper .white-box form#login input[type=text], #wrapper .white-box form#login input[type=password],
      #wrapper .white-box form a.btn.secondary {
        width: 95.5% !important;
        padding: 15px 8px; }
      #wrapper .white-box form#coffeeform input[type=submit], #wrapper .white-box form#mateform input[type=submit], #wrapper .white-box form#login input[type=submit] {
        width: 100%;
        padding: 15px 8px; }

  /* REGISTER */
  .white-box.fullWidth div.left {
    width: 100%;
    float: none !important;
    display: block;
    margin-top: 24px; }
    .white-box.fullWidth div.left b {
      display: inline-block;
      margin-bottom: 10px; }
    .white-box.fullWidth div.left input {
      width: 97%; }
  .white-box.fullWidth #recaptcha_widget_div {
    float: none;
    display: block;
    margin-top: 23px; }

  .register_button_standard {
    float: none;
    margin-top: 10px;
    min-width: 100% !important; } }
/* Normal mode */
.weight-display div.edit, .weight-edit div.show {
  display: none; }

/* Editor mode */
