/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license:
    Date: May 25th, 2013
    Version: 1.2
*/

/* colors */

$font-header: #584a4a;
$text-color: #000000;
$link-color: #584a4a;

$button-color: #fff;
$button-background: #7f7665;
$button-text-shadow: #524c42;

$error-color: #b94a48;
$error-background: #f2dede;
$error-border: #eed3d7;

$warning-color: #c09853;
$warning-background: #fcf8e3;
$warning-border: #fbeed5;

$info-color: #3a87ad;
$info-background: #d9edf7;
$info-border: #bce8f1;

$success-color: #468847;
$success-background: #dff0d8;
$success-border: #d6e9c6;

/* FONTS */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DroidSans.ttf");
}


@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/DroidSans-Bold.ttf");
}


@font-face {
  font-family: "Harabara";
  font-style: normal;
  src: url('/fonts/Harabara.ttf');
}


/* GENERAL */

body {
  padding: 0;
  margin: 0;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $text-color;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

a {
  color: $link-color !important;
}

a.btn, input {
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
}

input[type=submit],
button,
a.btn {
  background: $button-background;
  padding: 10px;
  font-size: 1.35em;
  color: $button-color !important;
  text-shadow: 1px 1px 0 $button-text-shadow;
  min-height: 22px;
  line-height: 22px;
  border: 1px solid #615a4f;
  box-shadow: 0 1px 0 #9e9482 inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration:none !important;
  font-weight: normal !important;

  &:hover {
    background: #5a5348;
  }

  &.secondary {
    color: #b6aa97 !important;
    text-shadow: 1px 1px 0 #fff;
    background: #f7f3e5;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #b6aa97;

    &:hover {
      background: #5a5348 !important;
      box-shadow: 0 1px 0 #9e9482 inset;
      text-shadow: 1px 1px 0 #524c42 !important;
      color: #fff !important;
    }
  }
}

input[type=text],
input[type=email],
input[type=password] {
  padding: 10px;
  font-size: 1.35em;
  border: 1px solid #d8ccb3;
  background-color: #f7f3e5;
  box-shadow: 0 1px 0 #fff inset;
  color: #4f4b42;
  min-height: 22px;
  line-height: 22px;
}

.right {
  float:right;
}

.left,
.leftform {
  float:left;
}

.clear {
  clear:both;
}

.white-box {
  padding: 20px;
  margin: 0 2% 2% 0;
  background-color: #FFF;
  float: left;
  width: 44%;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  min-height: 115px;

  &.update,
  &.today {
    min-height: 285px;
  }

  &.fullWidth {
    width: 94%;
  }

  p {
    line-height: 24px;
  }
  canvas {
    width:100% !important;
    height: auto !important;
  }
  h2 {
    font-size: 31px !important;
    color: rgb(194, 185, 185);
  }

  .pagelinks {
    display:inline-block;
    width: 100%;

    div.left {
      width: 50%;

      a.btn {
        width: 94%;
        margin-bottom: 10px;
        display: block;
      }
    }
    div.right {
      margin-right: 21px;
    }
  }

  .profilelist {
    padding-left:0;

    li {
      list-style: none;
      margin: 7px 0;
    }
  }
}

.white-box:nth-child(odd) {
    float:right;
}

.white-box-center {
  text-align: center;
}

.white-box p {
  margin: 14px 0;
  clear:both;
}

form {
  margin: 14px 0;

  &.coffeeform {
      #email {
          width:98%;
      }
  }
}

form .left,
form .leftform {
  width: 48%;

  &:nth-child(odd) {
    margin-right: 2%;
  }
}

.fullWidth form .leftform {
  width: 30%;

  &:nth-child(odd) {
    margin-right:0;
  }

  &:nth-child(2) {
    margin:0 2%;
  }
}

.leftform {
  display:inline-block;

  input {
    width: 100%;
  }
}

form.otrblockform {
  input[type=submit] {
    width:50%;
    padding: 30px;
    font-size: 2em;
  }
}

li {
    &.flash-success,
    &.flash-info,
    &.flash-warning,
    &.flash-error {
        list-style-type: none;
        padding: 10px 10px 10px 25px;
        margin-bottom: 5pt;
        border: 1px solid #000000;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: 5px center;

        .close {
            float: right;
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
        }
    }
}

.flash-success {
    background-image: url('/images/info.png');
    color: $success-color;
    background-color: $success-background;
    border-color: $success-border;
}
.flash-info {
    background-image: url('/images/info.png');
    color: $info-color;
    background-color: $info-background;
    border-color: $info-border;
}
.flash-warning {
    background-image: url('/images/alert.png');
    color: $warning-color;
    background-color: $warning-background;
    border-color: $warning-border;
}
.flash-error {
    background-image: url('/images/alert.png');
    color: $error-color;
    background-color: $error-background;
    border-color: $error-border;
}

ul.flash-messages {
    margin:0px;
    padding:0px;
}

#system-flash .flash-messages {
    background: transparent;
    position: absolute;
    top: 0px;
    width: 60%;
}

.usercard, .rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display:inline-block;

  div.left {
    display:inline-block;

    input {
      display:inline-block;
      width:94%;
    }
  }
}

.rightfloated {
  float: right;
}

.clearfix {
  clear: both;
  height: 0;
}

ul.userlist {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  img {
    border: none;
  }
}

strong {
  font-weight: bold;
}

.default_input_field {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #E7E7E7;
  color: #201200;
  min-height: 22px;
}

.inlineform {

  select {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #E7E7E7;
    color: #201200;
    min-height: 22px;
    line-height: 22px;
  }
}

.hiddeninput {
  display: none;
}

/* WRAPPER */

#wrapper {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

/* HEADER */

#header {
  padding: 10px 10px 10px 100px;
  margin: 0;
  color: $font-header;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  h1 {
    font-family: "Harabara";
    font-size: 48px;
    margin-bottom: 1px;
    max-width: 32%;
  }
  p {
    margin-top: 0;
    max-width: 32%;
  }
}

/* FOOTER */

.footer {
  clear: both;

  .footertext {
    font-size: small;
  }
}


/* NAVIGATION */

#navigation {
  margin: 0 auto 18px;
  width:50%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin: 0 0 0 -3px;
      display: inline-block;
      border-right: 1px solid #a3a3a3;
      box-shadow: 1px 0 0 #fff;

      &:last-child {
        border-right: 0;
        box-shadow: 0 0 0 #fff;
      }

      a {
        display: inline-block;
        font-weight: normal;
        color: #000;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 32px;
        background-position: 8px 9px;

        &:hover {
          text-decoration: none;
          background-color: #ece7dd;
        }

        &.navindex {
          background-image: url('/images/home.png');
        }
        &.navplusone {
          background-image: url('/images/tag.png');
        }
        &.navprofile {
          background-image: url('/images/profile.png');
        }
        &.navexplore {
          background-image: url('/images/list.png');
        }
        &.navoverall {
          background-image: url('/images/flask.png');
        }
        &.navabout {
          background-image: url('/images/user-4.png');
        }
        &.navlogout {
          background-image: url('/images/out.png');
        }
      }
    }
  }
}

/* CONTENT */

#content {
  padding: 0;
  margin: 0;
  h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
}

/* REGISTER */

.white-box.fullWidth {
  div.left {
    width: 33%;

    b {
      display: inline-block;
      margin-bottom:10px;
    }

    input {
      width:80%;
    }
  }

  #recaptcha_widget_div {
    float: left;
    margin-top:23px;
  }
}

/*.register_button_standard {
  clear: both;
  float: left;
  margin-top: 10px;
  min-width: 28.4% !important;
} */

/* Responsive */

@media screen and (max-width: 1250px) {
  #wrapper {

    #navigation {
      width: 58%;
    }

    .white-box {
      margin: 0 1% 2% 0;
    }

    .white-box:nth-child(odd) {
      margin: 0 0 2% 1%;
    }
  }
}

@media screen and (max-width: 1000px) {
  /* iPhone, Android rules here */
  #wrapper {
    padding: 0px;
    width: 94%;
    margin: 0 auto;

    #header p {
      max-width:85%;
    }

    #navigation {
      width: 100%;

      ul li a {
        padding: 10px 10px 10px 30px;
      }
    }

    .white-box, .white-box:nth-child(odd) {
        margin: 24px 0px 0px;
    }

    .white-box {
      width: 92%;
      float: none !important;

      form {
        .left, .leftform {
          clear:both;
          width: 100% !important;
        }

        .leftform {
          margin:5pt 0;

          #recaptcha_widget_div {
              margin:0;
          }
        }

        &.otrblockform input {
            margin:5pt 0;
            width:98.8%;
        }

        &.coffeeform {
            #email {
                width:100%;
            }
        }
      }
    }
  }

  /* REGISTER */

  .white-box.fullWidth {
    .left {
      width: 100%;
      float: none !important;
      display: block;
      margin-top: 24px;

      b {
        display: inline-block;
        margin-bottom:10px;
      }

      input {
        width:97%;
      }
    }
  }
}

/* Normal mode */

.weight-display div.edit, .weight-edit div.show {
  display: none;
}

/* Editor mode */
