/*
	caffeine.css:
	author:
	license:
	date:
	version:
*/


/* Fonts */

@font-face {
	font-family: "Droid Sans";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DroidSans.ttf');
}

@font-face {
	font-family: "Droid Sans";
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/DroidSans-Bold.ttf');
}

@font-face {
	font-family: "Harabara";
	font-style: normal;
	src: url('../fonts/Harabara.ttf');
}


/* General */

body {
	padding: 0;
	margin: 0;
    background-image: url(./../images/pattern.png);
    background-repeat: repeat;
	color: #000;
	font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
}

.white-box {
	padding: 20px;
	margin: 0 0 10px 0;
	background-color: #FFF;
}

.white-box p {
	line-height: 24px;
}

.white-box-center {
	text-align: center;
}


/* LOGIN */

#login {

}

#login h2 {
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

#login_field_username {
	padding: 10px;
	font-size: 16px;
	border: none;
	background-color: #E7E7E7;
	color: #201200;
	min-height: 22px;
}

#login_field_password {
	padding: 10px;
	font-size: 16px;
	border: none;
	background-color: #E7E7E7;
	color: #201200;
	min-height: 22px;
}

#login_button_submit {
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: #201200;
	border: none;
	color: #FFF;
	min-width: 100px;
}


/* Layout */

#wrapper {
	padding: 0;
	margin: 0 auto;
	width: 660px;
}


/* HEADER */

#header {
	padding: 10px;
	margin: 0;
	color: #FFF;
	background-image: url('../images/coffee.png');
	background-repeat: no-repeat;
	background-position: right center;
}

#header h1 {
	font-family: "Harabara";
	font-size: 48px;
    margin-bottom: 1px;
}

#sidebar {
	padding: 0;
	margin: 0;
	width: 200px;
	float: left;
}

	#sidebar .section {
		padding: 10px;
		background-color: #FFF;
		color: #000;
		border-top: 1px solid #000;
	}
	
		#sidebar .section .center {
			text-align: center;
		}

	#sidebar ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
		#sidebar ul li {
			padding: 0 0 10px 0;
			margin: 0;
			list-style-type: none;
		}
		
			#sidebar ul li a, #sidebar ul li a:link {
				color: #333;
				font-family: "DroidSans-Bold", Helvetica, Verdana, Arial, sans-serif;
			}
			
			#sidebar ul li a:hover {
				text-decoration: underline;
			}
			
#content {
	padding: 10px;
	margin: 0 0 0 220px;
    background-color: #FFF;
    min-height: 75px;
}

	#content .imadecoffee {
		padding: 10px;
		margin: 0;
		color: #333;
		font-size: 18px;
	}
